# 作業 : (Kaggle)鐵達尼生存預測
***
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = 'data/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
"""
Your Code Here
"""
object_col = 'Cabin'
num_col = 'Age'
df[object_col] = df[object_col].fillna('None')
mean_df = df.groupby([object_col])[num_col].mean().reset_index()
median_df = df.groupby([object_col])[num_col].median().reset_index()
max_df = df.groupby([object_col])[num_col].max().reset_index()
min_df = df.groupby([object_col])[num_col].min().reset_index()
temp = pd.merge(mean_df, median_df, how='left', on=[object_col])
temp = pd.merge(temp, max_df, how='left', on=[object_col])
temp = pd.merge(temp, min_df, how='left', on=[object_col])
temp.columns = [object_col, num_col + '_Mean', num_col + '_Median', num_col + '_Max', num_col + '_Min']
temp

     Cabin   Age_Mean  Age_Median  Age_Max  Age_Min
0      A10  36.000000        36.0     36.0    36.00
1      A14        NaN         NaN      NaN      NaN
2      A16  48.000000        48.0     48.0    48.00
3      A19        NaN         NaN      NaN      NaN
4      A20  49.000000        49.0     49.0    49.00
5      A23  80.000000        80.0     80.0    80.00
6      A24  31.000000        31.0     31.0    31.00
7      A26  56.000000        56.0     56.0    56.00
8      A31  40.000000        40.0     40.0    40.00
9      A32        NaN         NaN      NaN      NaN
10     A34   4.000000         4.0      4.0     4.00
11     A36  39.000000        39.0     39.0    39.00
12      A5  71.000000        71.0     71.0    71.00
13      A6  28.000000        28.0     28.0    28.00
14      A7  56.000000        56.0     56.0    56.00
15    B101  35.000000        35.0     35.0    35.00
16    B102        NaN         NaN      NaN      NaN
17     B18  30.000000        30.0     44.0    16.00
18     B19  61.000000        61.0     61.0    61.00
19     B20  24.000000        24.0     31.0    17.00
20     B22  53.000000        53.0     70.0    36.00
21     B28  50.000000        50.0     62.0    38.00
22      B3  43.000000        43.0     43.0    43.00
23     B30  65.000000        65.0     65.0    65.00
24     B35  24.000000        24.0     24.0    24.00
25     B37  58.000000        58.0     58.0    58.00
26     B38  45.000000        45.0     45.0    45.00
27     B39  22.000000        22.0     22.0    22.00
28      B4  44.000000        44.0     44.0    44.00
29     B41  60.000000        60.0     60.0    60.00
..     ...        ...         ...      ...      ...
118   E121  16.500000        16.5     27.0     6.00
119    E17  51.000000        51.0     51.0    51.00
120    E24  38.500000        38.5     42.0    35.00
121    E25  36.000000        36.0     36.0    36.00
122    E31  46.000000        46.0     46.0    46.00
123    E33  22.000000        22.0     22.0    22.00
124    E34  40.000000        40.0     40.0    40.00
125    E36  30.000000        30.0     30.0    30.00
126    E38  65.000000        65.0     65.0    65.00
127    E40  41.000000        41.0     41.0    41.00
128    E44  44.500000        44.5     50.0    39.00
129    E46  54.000000        54.0     54.0    54.00
130    E49  39.000000        39.0     39.0    39.00
131    E50  25.000000        25.0     25.0    25.00
132    E58  47.000000        47.0     47.0    47.00
133    E63  47.000000        47.0     47.0    47.00
134    E67  45.500000        45.5     52.0    39.00
135    E68  18.000000        18.0     18.0    18.00
136    E77  57.000000        57.0     57.0    57.00
137     E8  30.000000        30.0     33.0    27.00
138  F E69        NaN         NaN      NaN      NaN
139  F G63  42.000000        42.0     42.0    42.00
140  F G73  22.000000        22.0     25.0    19.00
141     F2  13.833333         3.0     36.5     2.00
142    F33  29.000000        29.0     34.0    24.00
143    F38        NaN         NaN      NaN      NaN
144     F4   2.500000         2.5      4.0     1.00
145     G6  14.750000        14.0     29.0     2.00
146   None  27.555293        26.0     74.0     0.42
147      T  45.000000        45.0     45.0    45.00

[148 rows x 5 columns]

In [3]:
df = pd.merge(df, temp, how='left', on=[object_col])
df = df.drop([object_col] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Age_Mean,Age_Median,Age_Max,Age_Min
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,27.555293,26.0,74.0,0.42
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,38.000000,38.0,38.0,38.00
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,27.555293,26.0,74.0,0.42
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,36.000000,36.0,37.0,35.00
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,27.555293,26.0,74.0,0.42

In [4]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

9 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Age_Mean', 'Age_Median', 'Age_Max', 'Age_Min']

,Pclass,Age,SibSp,Parch,Fare,Age_Mean,Age_Median,Age_Max,Age_Min
0,3,22.0,1,0,7.2500,27.555293,26.0,74.0,0.42
1,1,38.0,1,0,71.2833,38.000000,38.0,38.0,38.00
2,3,26.0,0,0,7.9250,27.555293,26.0,74.0,0.42
3,1,35.0,1,0,53.1000,36.000000,36.0,37.0,35.00
4,3,35.0,0,0,8.0500,27.555293,26.0,74.0,0.42

In [5]:
# 沒有這四個新特徵的 dataframe 稱為 df_minus
df_minus = df.drop([
    num_col + '_Mean', num_col + '_Median', num_col + '_Max', num_col + '_Min'
] , axis=1)
df_minus.head()

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?
> 稍微變差

In [6]:
# 原始特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
train_X = MMEncoder.fit_transform(df_minus)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7038635542329971

In [7]:
# 新特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
train_X = MMEncoder.fit_transform(df)
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6937323634728438